/* Estilo general */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #010011;
    color: aliceblue;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

/* Estilo de las manos del dealer y el jugador */
#dealerHandContainer, #userHandContainer {
    background-color: #040216;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    display: inline-block;
    width: 100%;
}

#dealerHandContainer p, #userHandContainer p {
    font-size: 1.2em;
    font-weight: bold;
}

/* Contenedor de los botones y las apuestas */
#buttons {
    text-align: center;
    margin: 10px;
}

#buttons input {
    width: 100px;
    margin: 10px;
}

/* Estilo de los botones */
button {
    font-family: 'Press Start 2P', 'Arial', sans-serif;
    background: linear-gradient(145deg, #131313, #2b2a2a);
    color: #fff;
    padding: 12px 24px;
    margin: 2px 0;
    border-radius: 20px;
    font-size: 16px;
    width: 120px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    font-size: 20px;
    background: linear-gradient(145deg, #742e2e, #410202);
    border: 2px solid white;
    transition: all 0.2s ease;
}

button:active {
    animation: vibrate 0.2s linear infinite;
}

/* Animación de vibración en botones */
@keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(5px); }
}

/* Estilo para el mensaje de resultado */
#resultMessage {
    margin-top: 20px;
    font-size: 1.2em;
    color: gold;
}

/* Estilo de las cartas */
.card {
    display: inline-block;
    width: 50px;
    height: 70px;
    line-height: 70px;
    border: 2px solid white;
    border-radius: 8px;
    margin: 5px;
    font-weight: bold;
    font-size: 24px;
    background-color: white;
    color: black;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, filter 0.3s;
}

.card.red {
    color: red;
}

#dealerHandContainer .card, #userHandContainer .card {
    margin: 5px;
}

.card:hover {
    transform: scale(1.25); 
    filter: brightness(1.5);
}

.card.hidden {
    background-color: #555; 
    color: white;  
}

/* Ajustes para pantallas pequeñas (responsive) */
@media screen and (max-width: 1024px) {
    /* Evitar desbordamientos */
    body {
        overflow-x: hidden; /* No permite el desplazamiento horizontal */
    }
    /* Ajuste de los contenedores de manos */
    #dealerHandContainer, #userHandContainer {
        width: 90%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 600px) {
    /* Ajustes para pantallas más pequeñas como el Nest Hub */
    body {
        font-size: 16px;
    }
}