* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  position: relative;
  height: 350px; /* o lo que necesites */
  background: #0d1117;
  color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#matrix {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

body {
    cursor: url(cursor/ColourPointRed1\(normal\).cur), default;
    
    font-family: Arial, sans-serif;
    background-color: #0d1117;
    color: #ffffff;
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

#profile-img {
    margin: 10px;
    position: relative;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 1;

}

h1 {
    cursor: url(/cursor/ColourPointRed6\(text\).cur), text;
    color: #ff005c;
    margin: 10px;
    font-size: 2em;
    font-weight: bold;
}

h3 {
    cursor: url(/cursor/ColourPointRed6\(text\).cur), text;
}
p {
    cursor: url(/cursor/ColourPointRed6\(text\).cur), text;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

a {
    cursor: url(cursor/ColourPointRed15\(link\).cur), pointer;
}

a:hover {
    cursor: url(cursor/ColourPointRed15\(link\).cur), pointer;
}

#stats-container {
    margin: 10px;
    display: flex;
    flex-direction: column; /* apilar verticalmente */
    align-items: center;    /* centrar horizontalmente */
    gap: 20px;              /* espacio entre imágenes */
}

#stats-container img {
    width:  400px;
    height: 200px;           /* mantener proporción */
    border-radius: 10px;
    border: 2px solid white; /* borde blanco de 2px sólido */
    display: block;
}



@media(min-width: 768px) {
    .stats-container {
        flex-direction: row;
        justify-content: center;
    }

    .stats-container img {
        max-width: 350px;
    }

}

footer a {
    color: #ff005c;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.sidebar {
    height: 100vh; /* Altura completa */
    width: 0px; /* Ancho del menú lateral */
    position: fixed; /* Fijo a la izquierda */
    top: 0;
    left: 0;
    background-color: #0d1117;
    overflow-x: hidden; /* No permitir desplazamiento horizontal */
    padding-top: 60px; /* Espaciado superior */
    box-shadow: 2px 0px 5px rgb(0, 0, 0); /* Sombra a la derecha */
}

.sidebar a {
    padding: 25px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #ff005c;
    text-decoration: none;
    font-weight: bold;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 20px;
    margin-left: 50px;
}

/* Estilo para el botón de abrir */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #0d1117;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2; /* Asegura que el botón esté encima del contenido */
}

.openbtn:hover {
    cursor: url(cursor/ColourPointRed15\(link\).cur), pointer;
    color: #ff005c;
}

/* Estilo para el contenido principal */
#main-content {
    margin-left: 20px;
    padding: 20px;
}

/* Cuando el menú está abierto, ajusta el contenido */
.sidebar.open {
    width: 150px; /* Ancho del menú lateral cuando se abre */
    z-index: 2;
}

/* Mueve el contenido cuando el menú se abre */
#main-content.open {
    margin-left: 250px;
}