/* ========== Reset Styles ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========== Global Styles ========== */
body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #f4f4f4;
    line-height: 1.6;
}
main {
    text-align: center;
}

ul {
    list-style-type: circle;
}
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* ========== Container ========== */
.container {
    width: 80%;
    margin: 0 auto;
}

/* ========== Grid System ========== */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    flex: 1;
    padding: 10px;
}

/* ========== Typography ========== */
h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
    font-weight: bold;
}

/* ========== Buttons ========== */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

/* ========== Media Queries ========== */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .col {
        flex: 100%;
    }
}

/* ============== Classes ================== */
.avatar {
    width: 150px; /* Ajusta el tamaño */
    height: 150px; /* Ajusta el tamaño */
    border-radius: 50%; /* Hace la imagen redonda */
    object-fit: cover; /* Asegura que la imagen se recorte correctamente */
    border: 2px solid #000; /* Opcional: Agrega un borde */
  }

